@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family :  'Montserrat' , sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --priamry-color:#F2C94C;
    --secondary-color:#FEF3C7;
}

.nav-heading{
    padding: 1.2rem;
    background-color: var(--priamry-color);
    text-align: center;
    box-sizing: border-box;
    font-size: 2rem;
    
}
.main-area{
    
    
    max-width: 600px;
    margin: 0px auto;
    
    display: block;
    padding: 1.5rem;
}
 #txt-Input{
    width:100%;
    height:200px;
    
} 
 #btn-translate{
    display: block;
    margin: 10px auto;
}


#txt-output{
    width:100%;
    height:200px;
    border:1px solid black;
    background-color: white;
} 
.bg{
    background-color: var(--secondary-color);
    height:77vh;
}
.footer{
    background-color: var(--priamry-color);
    height:15vh;
}
.ftr-heading{
    text-align: center;
    padding:3px;
    margin: 0;
}
.ftr-txt{
    max-width:650px;
   margin:0 auto;
}